{% extends 'base.html' %}

{% block content %}
	<div class="w-full flex flex-row items-center justify-center">
		<div class="w-1/4">
			<h1 class="my-4 text-3xl font-medium">Sign up</h1>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="bg-black px-4 py-3 rounded-lg text-white font-medium my-2">Sign up</button>
			</form>
			<p class="w-full text-center my-2">If you have an account, <a href="{% url 'login' %}">Log in</a></p>
		</div>
	</div>
{% endblock %}